[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
python-language-server = {version = "*",extras = ["all"]}
pytest = "*"
pyparsing = "*"
pipenv = "*"
pylint = "*"
mypy = "*"

[dev-packages]
pytest = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
