[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
pipenv = "*"

[dev-packages]
pytest = "*"
rope = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
